@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
//主题样式
@theme_color: rgb(248, 54, 54);
@theme_border_color: rgb(215, 215, 215);

@active_texticon_color: rgb(248, 54, 54);
@texticon_color: #343333eb;

:root {
  --text-title: red;
}
