.container {
  width: 375px;
  height: 100vh;
  background: linear-gradient(180deg, #962dff 0%, #f4c3ff 100%);
  flex-direction: column;
}

.navContent {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 22px;
  text-align: center;
}

.content {
  position: relative;
  width: 375px;
  height: calc(100vh - 88px);
  margin-top: 88px;
  flex-direction: column;
}

.userInfo {
  margin-left: 16px;
  width: 340px;
  height: 180px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 10px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 99;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}

.header {
  width: 340px;
  height: 46px;
  border-radius: 8px 8px 0px 0px;
}
.logo {
  margin-left: 16px;
  margin-top: 16px;
  font-size: 20px;
}

.userInfoContent {
  width: 340px;
  height: 100px;
  justify-content: flex-start;
}
.userInfoBottom {
  margin-left: 16px;
  width: 340px;
  font-size: 12px;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 16px;
  margin-top: 16px;
  overflow: hidden;
}
.info {
  margin-left: 16px;
  margin-top: 16px;
  font-size: 14px;
  color: #000000;
  flex-direction: column;
}

.tab {
  position: absolute;
  z-index: 0;
  width: 375px;
  height: calc(100vh - 230px);
  background: #fff;
  padding-top: 50px;
  left: 0;
  bottom: 0;
  flex-direction: column;
}

.tabItem {
  border-bottom: 1px solid #efefef;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  width: 375px;
  align-items: center;
}
